/adaptador-h/storage
/adaptador-h/vendor
/adaptador-p/storage
/adaptador-p/vendor
/adapter-twitter/.idea
/adapter-twitter/target
/frontend/node_modules
/integrador-fontes/node_modules
/produtor-series/storage
/produtor-series/vendor
/registrador-adaptadores/storage
/registrador-adaptadores/vendor
